.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66, 66, 66, 0.3);
    padding: 70px 130px;
    position: fixed;
    width: 100%;
    /* margin: 20px; */
    z-index: 2;
    height: 70px;
}

.logo img {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
}

.nav-btn {
    color: white;
    text-decoration: none;
    padding: 13px 35px;
    background-color: #0582d2;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* !Menu mobile */
.menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.7);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container.active {
    transform: translateX(0);
}

@media (max-width: 968px) {
    .navbar {
        padding: 70px 40px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 70px;
        justify-content: center;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .navbar .nav-links {
        display: none;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
